Package: us.sudhip.libsunflsks
Name: libsunflsks
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: Sudhip
Author: Sudhip
Section: System
Tag: role::developer
